/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
#main-nav {
  height: 50px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
#main-nav .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#main-nav .container .logo {
  color: inherit;
  font-size: 2rem;
  margin-right: 2rem;
  text-decoration: none;
}
@media (max-width: 600px) {
  #main-nav .container .logo {
    margin-left: auto;
  }
}
#main-nav .container .links {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}
@media (max-width: 600px) {
  #main-nav .container .links {
    display: none;
  }
}
#main-nav .container .links a {
  display: flex;
  flex-direction: row;
  height: 100%;
  color: inherit;
  padding: 0 1rem;
  font-size: 1.4rem;
  align-items: center;
  text-decoration: none;
  border-left: 1px solid #dededf;
}
#main-nav .container .links a:last-child {
  border-right: 1px solid #dededf;
}
#main-nav .container .buttons {
  margin-left: auto;
}
@media (max-width: 600px) {
  #main-nav .container .buttons {
    display: none;
  }
}
#main-nav .container .buttons a {
  color: inherit;
  font-size: 1.4rem;
  text-decoration: none;
}
#main-nav .container .buttons a:last-child {
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #2987cd;
  margin-left: 2rem;
}
#main-nav .container .burger-menu {
  width: 25px;
  display: none;
}
@media (max-width: 600px) {
  #main-nav .container .burger-menu {
    display: flex;
    margin-left: auto;
  }
}
#main-nav .container .burger-menu i {
  font-size: 2.5rem;
  cursor: pointer;
}
.mobile-nav {
  right: -100%;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: calc(100% - 50px);
  transition: all 0.3s ease;
  background-color: whitesmoke;
  display: none;
}
@media (max-width: 600px) {
  .mobile-nav {
    display: flex;
  }
}
.mobile-nav a {
  color: inherit;
  font-size: 2rem;
  text-decoration: none;
  margin-bottom: 3rem;
}
.mobile-nav a:last-child {
  margin-bottom: 0;
}
.nav-open {
  right: 0%;
}
