/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  color: #1b1c1d;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.menu-closed {
  left: 100%;
}
.menu-open {
  left: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  color: #1b1c1d;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
#main-header {
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
#main-header .container {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#main-header .container .logo {
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  #main-header .container .logo {
    margin-left: auto;
  }
}
#main-header .container .links {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#main-header .container .links a {
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 0 1.5rem;
  border-left: 1px solid #dededf;
}
#main-header .container .links a:last-child {
  border-right: 1px solid #dededf;
}
@media (max-width: 600px) {
  #main-header .container .links {
    display: none;
  }
}
#main-header .container .buttons {
  margin-left: auto;
}
#main-header .container .buttons a {
  color: inherit;
  font-size: 1.4rem;
  margin-right: 2rem;
  text-decoration: none;
}
#main-header .container .buttons a:last-child {
  color: white;
  padding: 0.5rem 1.5rem;
  margin-right: 0rem;
  background-color: #2987cd;
  margin-right: 0;
}
@media (max-width: 600px) {
  #main-header .container .buttons {
    display: none;
  }
}
#main-header .container #burger-menu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
@media (max-width: 600px) {
  #main-header .container #burger-menu {
    display: flex;
    margin-left: auto;
  }
}
#mobile-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  display: none;
}
@media (max-width: 600px) {
}
#mobile-menu a {
  color: inherit;
  font-size: 2rem;
  text-decoration: none;
  margin-bottom: 3rem;
}
#mobile-menu a:last-child {
  margin-bottom: 0;
}
body {
  width: 100%;
}
body .container-main {
  max-width: 100%;
  border: 1px solid red;
}
body .container-main img {
  width: 100%;
  height: 312px;
}
body .container-main #one {
  color: whitesmoke;
  font-family: Roboto;
  font-size: 4.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 25%;
}
@media (max-width: 600px) {
  body .container-main #one {
    top: 60%;
    font-size: 2.7rem;
  }
}
body .container-main #two {
  color: whitesmoke;
  padding-top: 20px;
  font-family: Roboto;
  font-size: 4.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 30%;
}
@media (max-width: 600px) {
  body .container-main #two {
    top: 70%;
    font-size: 2.7rem;
  }
}
body .container-main .btns {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  body .container-main .btns {
    top: 85%;
  }
}
body .container-main .btns button {
  margin-right: 1.8rem;
  padding: 0.5rem;
}
