body{
    border: 2px solid red;
    width: 100%;

    .container{
        max-width: 100%;
        margin: auto;
        
        .banner{
            border: 1px solid red;
            margin: 2% auto;
            //background-image: ("@{baseDir}/img/6de8dd02e6851ff91f95b5a81bb08d28.jpeg");
            
        }
    }
   
}

