#main-nav {
	height: 50px;
	z-index: 10;
	position: relative;
	background-color: white;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
	.container {
		.flex-row();
		align-items: center;
		.logo {
			margin-right: 2rem;

			@media @mobile {
				margin-left: auto;
				position: relative;
				left: 2.5rem;
			}

			img {
				width: 75px;
				position: relative;
				top: 0.25rem;
			}
		}
		.links {
			.flex-row();
			height: 100%;
			align-items: center;
			@media @mobile {
				display: none;
			}
			a {
				.flex-row();
				height: 100%;
				color: inherit;
				padding: 0 1rem;
				font-size: 1.4rem;
				align-items: center;
				text-decoration: none;
				border-left: 1px solid #dededf;
				&:last-child {
					border-right: 1px solid #dededf;
				}
			}
		}
		.buttons {
			margin-left: auto;
			@media @mobile {
				display: none;
			}
			span {
				color: #aaa;
				font-size: 1.2rem;
			}
			a {
				color: inherit;
				font-size: 1.4rem;
				text-decoration: none;
				&:last-child {
					.btn();
					margin-left: 0.5rem;
				}
			}
		}
		.burger-menu {
			width: 25px;
			display: none;
			@media @mobile {
				display: flex;
				margin-left: auto;
			}
			i {
				font-size: 2.5rem;
				cursor: pointer;
			}
		}
	}
}

.mobile-nav {
	right: -100%;
	top: 0px;
	width: 100%;
	.flex-col();
	position: fixed;
	align-items: center;
	justify-content: center;
	height: 100%;
	transition: all 0.3s ease;
	background-color: whitesmoke;
	display: none;
	@media @mobile {
		display: flex;
	}
	a {
		color: inherit;
		font-size: 2rem;
		text-decoration: none;
		margin-bottom: 3rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.nav-open {
	right: 0%;
}
